#footer {
    background: transparent;
}

header nav {
    background: transparent;
}

header nav a {
    color: black;
}

#form-search {
    min-width: 100%;
    background: transparent;
    position: absolute;
    top: 50px;
    left: 0%;
}

input {
    color: goldenrod;
    height: 40px;
    width: 100%;
    background: transparent;
    border: none;
    text-align: center;
}

input:focus {
    background: black;
    border: 0.5px dotted purple;
}

/**/
#restaurant-container {
    display: block;
}